.ed-flash-container {
	top: 0px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.ed-banner {
	padding: 10px;
	font-family : sans-serif;
}

.ed-banner > .ed-content {
	background: lightgrey;
	border-radius: 2px;
	padding: 15px;
	color: rgba(0,0,0,0.4);
	box-shadow: 0px 1px;
	border: 1px	solid rgba(0,0,0,0.1)
}

.ed-banner > .ed-content.warning {
	background-color: rgb(255, 230, 160);
}

.ed-banner > .ed-content.error {
	background-color: rgb(255, 160, 160);
}

.ed-banner > .ed-content > strong {
	color: rgba(0,0,0,0.6);
}

.ed-banner > .ed-content > .ed-close {
	cursor: pointer;
	display: inline-block;
	right: 25pt;
	position: absolute;
	color: rgba(0,0,0,0.4);
}

.ed-banner > .ed-content > .ed-close:hover {
	color: black;
}
